body {
  margin-top: 70px;
}

@grid-float-breakpoint:     400px;

#logo {
  
  /*-webkit-transform: translateY(0);*/
  position:relative;
}
#logo > div {
  position: absolute;
}
.logo-P{
  font-size: 46px;
  -webkit-transform: scaleX(2) rotate(-90deg);

}
#logo .logo-ass{
  -webkit-transform: translateY(40px);
}
#logo .logo-B{
  -webkit-transform: scaleX(2) translateY(35px) rotate(90deg);
  font-size: 46px;
}


#board-section {
  background-color: #f3f3f3;
  padding: 30px;
  border-radius: 5px;
}
#sidebar-menu {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 50px;
}

.help-link {
  display:block;
  /*width: 200px;*/
  font-size: 14px;
  padding: 15px;
  margin:auto;
}

.input-code {
  width: 150px;
  text-align:center;
  margin: 10px auto;


}
.version-info {
  display: inline-block;
}
.pages-in-use {
  display: block;
  margin: auto;
  width: 300px;
  height:300px;
}
.btn-install-bookmarklet {
  display:inline;
  white-space: normal;
}
a.btn-install-bookmarklet-a > button:hover{
  text-decoration: none;
}

.box300-placeholder {
  width:300px; 
  height: 300px; 
  color: #111; 
  background-color:grey; 
  display:block;
  margin: auto;
}