body {
  margin-top: 25px;
}

#board-section {
  background-color: #f3f3f3;
  padding: 30px;
  border-radius: 5px;
}
#sidebar-menu {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 50px;
}

.help-link {
  display:block;
  /*width: 200px;*/
  font-size: 14px;
  padding: 15px;
  margin:auto;
}

.input-code {
  width: 150px;
  text-align:center;
  margin: 10px auto;


}
.version-info {
  display: inline-block;
}
.pages-in-use {
  display: block;
  margin: auto;
  width: 300px;
  height:200px;
}
.btn-install-bookmarklet {
  display:inline;
  white-space: normal;
}
a.btn-install-bookmarklet-a > button:hover{
  text-decoration: none;
}