<!doctype html>
<html>
    <head>
        <meta charset=utf-8>
        <meta name=description content="">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <title>PaasB watch</title>
        <link rel=author href="humans.txt">

        <link rel="stylesheet" href="/public/css/client.css"/>

        <script src="/public/js/vendor/socket.io.min.js"></script>
        <script type="text/javascript" src="/public/js/client.js"></script>
        <script type="text/javascript">
            window.onload = function () {
                var socketUrl = window.location.origin+'/user/';
                var socket = io.connect(socketUrl, {
                    'sync disconnect on unload ': true
                });
                var client = getClient('{{unique_id}}');

                
                console.log('url: ',socketUrl);
                
                if (socket) {
                    client.onConnected (socket);
                }
                else{
                    client.notConnected ();
                }

            };
        </script>
    </head>
    <body>
        <nav id="passb-menu">

            <ul>
                <li><span id="js_connection-status" class="connection-status">failed</span></li>
                <li><button id="js_menu-refresh">Refresh</button></li>
                <li>window count: <span id="js_preview-client-count">0</span></li>
            </ul>
        </nav>
        <iframe onload="this.contentWindow.focus()" id="js_preview-window" width="100%" height="100%" src="{{preview_url}}" ></iframe>
    </body>
</html>