<!doctype html>
<html>
    <head>
        <meta charset=utf-8>
        <meta name=description content="">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <title>Untitled</title>
        <link rel=author href="humans.txt">
        <style>
        html{
            height:100%;
        }
        body {
            margin:0;
            padding: 0;
            height: 100%;
        }
        #preview-window{
            margin:0;
            padding: 0;
            height: 100%;
            width: 100%;
            display:block;
            border:none;
        }
        #passb-menu {
            position: fixed;
            bottom:0;
            right:0;
        }
        </style>


        <script src="/get-client/socket-io-client"></script>
        <script type="text/javascript">

        window.onload = function () {

          var 
            N_preview_window = document.getElementById('preview-window')
            , socket = io.connect('http://localhost:3333/user/{{unique_id}}')
            , mainIframe = document.getElementById('preview-window')
            btn_refresh = document.getElementById('js_menu-refresh')
            ;


            socket.on('refresh', function (data) {

                console.log('on refresh: ',data);

                // window.location.reload();
            });


            socket.on('preview', function (data) {
                
                console.log('on preview: ',data);
            
            });

            var passbRefresh = function () {
                console.log('socket emit refresh');
                socket.emit('refresh');
            };

            btn_refresh.onclick = passbRefresh;


            function setFocusThickboxIframe() {
                mainIframe.contentWindow.focus();
            }

            function disableRefresh () {
            // slight update to account for browsers not supporting e.which
                var disableF5 = function (keyEvent) { 

                    if ((keyEvent.which || keyEvent.keyCode) == 116) {

                        keyEvent.preventDefault();

                        passbRefresh();

                      } 

                };

                // disable f5
                console.log('block F5', mainIframe);

                window.addEventListener("keydown", disableF5, true);
                mainIframe.document.addEventListener("keydown", disableF5, true);

            };

            disableRefresh();
        };


        </script>
    </head>
    <body>
        <nav id="passb-menu">
            <ul>
                <li><button>spread</button></li>
                <li><button id="js_menu-refresh">Refresh</button></li>
            </ul>
        </nav>
        <iframe onload="this.contentWindow.focus()" id="preview-window" width="100%" height="100%" src="{{preview_url}}" ></iframe>
    </body>
</html>