<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PassB</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="/public/css/bootstrap.min.css">
        <link rel="stylesheet" href="/public/css/main.css">

        <!-- Optional theme -->
        <!-- <link rel="stylesheet" href="/public/css/bootstrap-theme.min.css"> -->

        
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    </head>
    <body>
      <div class="container">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <header class="header">
          
          <h1 class="">PassB</h1>
          
          
        </header>
        <nav>
          <ul class="nav nav-pills nav-stacked">
            <li class="active">Start</li>
            <li>Stats</li>
            <li>How it works</li>
          </ul>
        </nav>
        <section id="board-section" class="jumbotron ">
          <div class="container row text-center">
            <div class="col-md-6">
                <h2>Install PassB</h2>
                <a alt="PassB bookmarklet" id="js_install-bookmarklet" class="btn-install-bookmarklet-a" onclick="return false;"  href="javascript:(function(){var jsCode = document.createElement('script');jsCode.setAttribute('src', 'http://passb.herokuapp.com/public/js/passb_bookmarklet.js');document.head.appendChild(jsCode);}());">
                  <button class="btn btn-lg btn-danger btn-install-bookmarklet"><span class="glyphicon glyphicon-hand-up"></span>&nbsp;&nbsp;Drop me on your bookmarks!
                  </button>
                </a>
                <a href="#" class="help-link text-muted">Eee, what?</a>
            </div>
            <div class="col-md-6">
              <h2>Enter your code</h2>
                <form class="" id="form_unique-id" method="get" action="/watch/">
                  <input class="form-control input-lg input-code" type="text" maxlength="8" name="unique_id" id="input_unique-id" placeholder="Enter code..."/>
                  <button class="btn btn-lg btn-primary ">Go!&nbsp;&nbsp;<span class="glyphicon glyphicon-play"></span></button>
                </form>
            </div>
         </div>
        </section>
        <section>
        
        </section>
        <section>
          <div data-count="{{activePagesCount}}" id="js_pages-in-view" class="pages-in-use"></div>
        </section>

        <h2>How is it working?</h2>
        <section id="explain-section">
            
        </section>

        <footer class="footer">
          <span class="version-info label label-default ">v.0.1.0</span>
        </footer>

        <!-- Latest compiled and minified JavaScript -->
        <script src="/public/js/vendor/raphael.2.1.0.min.js"></script>
        <script src="/public/js/vendor/justgage.1.0.1.min.js"></script>
        <script src="/public/js/vendor/jquery-1.10.2.min.js"></script>
        <script src="/public/js/main.js"></script>
        <script src="/public/js/bootstrap.min.js"></script>
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
      </div>
    </body>
</html>