<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PassB</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="/public/css/bootstrap.css">
        <link rel="stylesheet" href="/public/css/main.css">

        <!-- Optional theme -->
        <!-- <link rel="stylesheet" href="/public/css/bootstrap-theme.min.css"> -->

        
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    </head>
    <body >
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="logo">
            <div id="tridiv">
              <div class="scene" style="-webkit-transform:rotateX(364deg) rotateY(-360deg); -moz-transform:rotateX(364deg) rotateY(-360deg); -ms-transform:rotateX(364deg) rotateY(-360deg); transform:rotateX(364deg) rotateY(-360deg); ">
                <div class="shape cuboid-1 cub-1">
                  <div class="face ft"></div>
                  <div class="face bk"></div>
                  <div class="face rt"></div>
                  <div class="face lt"></div>
                  <div class="face bm"></div>
                  <div class="face tp"></div>
                </div>
                <div class="shape cylinder-2 cyl-2">
                  <div class="face bm"></div>
                  <div class="face tp"></div>
                  <div class="face side s0"></div>
                  <div class="face side s1"></div>
                  <div class="face side s2"></div>
                  <div class="face side s3"></div>
                  <div class="face side s4"></div>
                  <div class="face side s5"></div>
                  <div class="face side s6"></div>
                  <div class="face side s7"></div>
                  <div class="face side s8"></div>
                  <div class="face side s9"></div>
                  <div class="face side s10"></div>
                  <div class="face side s11"></div>
                  <div class="face side s12"></div>
                  <div class="face side s13"></div>
                  <div class="face side s14"></div>
                  <div class="face side s15"></div>
                  <div class="face side s16"></div>
                  <div class="face side s17"></div>
                  <div class="face side s18"></div>
                  <div class="face side s19"></div>
                  <div class="face side s20"></div>
                  <div class="face side s21"></div>
                  <div class="face side s22"></div>
                  <div class="face side s23"></div>
                  <div class="face side s24"></div>
                  <div class="face side s25"></div>
                </div>
                <div class="shape cylinder-1 cyl-1">
                  <div class="face bm"></div>
                  <div class="face tp"></div>
                  <div class="face side s0"></div>
                  <div class="face side s1"></div>
                  <div class="face side s2"></div>
                  <div class="face side s3"></div>
                  <div class="face side s4"></div>
                  <div class="face side s5"></div>
                  <div class="face side s6"></div>
                  <div class="face side s7"></div>
                  <div class="face side s8"></div>
                  <div class="face side s9"></div>
                  <div class="face side s10"></div>
                  <div class="face side s11"></div>
                  <div class="face side s12"></div>
                  <div class="face side s13"></div>
                  <div class="face side s14"></div>
                  <div class="face side s15"></div>
                  <div class="face side s16"></div>
                  <div class="face side s17"></div>
                  <div class="face side s18"></div>
                  <div class="face side s19"></div>
                  <div class="face side s20"></div>
                  <div class="face side s21"></div>
                  <div class="face side s22"></div>
                  <div class="face side s23"></div>
                  <div class="face side s24"></div>
                  <div class="face side s25"></div>
                </div>
                <div class="shape cuboid-2 cub-2">
                  <div class="face ft"></div>
                  <div class="face bk"></div>
                  <div class="face rt"></div>
                  <div class="face lt"></div>
                  <div class="face bm"></div>
                  <div class="face tp"></div>
                </div>
                <div class="shape cylinder-3 cyl-3">
                  <div class="face bm"></div>
                  <div class="face tp"></div>
                  <div class="face side s0"></div>
                  <div class="face side s1"></div>
                  <div class="face side s2"></div>
                  <div class="face side s3"></div>
                  <div class="face side s4"></div>
                  <div class="face side s5"></div>
                  <div class="face side s6"></div>
                  <div class="face side s7"></div>
                  <div class="face side s8"></div>
                  <div class="face side s9"></div>
                  <div class="face side s10"></div>
                  <div class="face side s11"></div>
                  <div class="face side s12"></div>
                  <div class="face side s13"></div>
                  <div class="face side s14"></div>
                  <div class="face side s15"></div>
                  <div class="face side s16"></div>
                  <div class="face side s17"></div>
                  <div class="face side s18"></div>
                  <div class="face side s19"></div>
                  <div class="face side s20"></div>
                  <div class="face side s21"></div>
                  <div class="face side s22"></div>
                  <div class="face side s23"></div>
                  <div class="face side s24"></div>
                  <div class="face side s25"></div>
                </div>
              </div>
            </div>
            <!-- <div class="logo-P">P</div> -->
            <div class="logo-ass">ass</div>
            <!-- <div class="logo-B">B</div> -->
        </div>
        <header class="header">
            <nav class="navbar navbar-default navbar-fixed-top " role="navigation" >
                
                <ul class="nav navbar-nav">
                    <li><span class="">PassB</span></li>
                    <li class="active"><a href="#">StartS</a></li>
                    <li><a href="#">Stats</a></li>
                    <li><a href="#">How it works</a></li>
                </ul> 
                <span class="navbar-right version-info label label-default ">v.0.1.0</span>
            </nav>
                  
            </header>
        <div class=" container">

            <section id="board-section" class="jumbotron ">
              <div class="container row text-center">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="col-sm-6">

                    <h2>Install</h2>
                    <a alt="PassB bookmarklet" id="js_install-bookmarklet" class="btn-install-bookmarklet-a" onclick="return false;"  href="javascript:(function(){var jsCode = document.createElement('script');jsCode.setAttribute('src', 'http://passb.herokuapp.com/public/js/passb_bookmarklet.js');document.head.appendChild(jsCode);}());">
                      <button class="btn btn-lg btn-danger btn-install-bookmarklet"><span class="glyphicon glyphicon-hand-up"></span>&nbsp;&nbsp;Drop me on your bookmarks!
                      </button>
                    </a>
                    <a href="#" class="help-link text-muted">Eee, what?</a>
                </div>
                <div class="col-sm-6">
                  <h2>Enter your code</h2>
                    <form class="" id="form_unique-id" method="get" action="/watch/">
                      <input class="form-control input-lg input-code" type="text" maxlength="8" name="unique_id" id="input_unique-id" placeholder="Enter code..."/>
                      <button class="btn btn-lg btn-primary ">Go!&nbsp;&nbsp;<span class="glyphicon glyphicon-play"></span></button>
                    </form>
                </div>
             </div>
            </section>

            <h2>Stats</h2>
            <section class="row">
              <div class="col-sm-6">
                
                <div data-count="{{activePagesCount}}" id="js_pages-in-view" class="pages-in-use"></div>
                  
              </div>
              <div class="col-sm-6">
                
                <div class="box300-placeholder">
                    opened windows
                </div>               
                <!-- <div data-count="{{activePagesCount}}" id="js_pages-in-view" class="pages-in-use"></div> -->
                  
              </div>  
            </section>

            <h2>How is it working?</h2>
            <section id="explain-section">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque congue purus lacus, sit amet gravida ipsum vestibulum sed. Vestibulum dapibus tincidunt ornare. Phasellus feugiat tellus id interdum ornare. Sed interdum arcu nisi, id sollicitudin sem commodo quis. Maecenas egestas fringilla viverra. Phasellus malesuada volutpat magna id lobortis. Curabitur eu rutrum elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sollicitudin leo arcu, in rhoncus enim vestibulum in. Duis quis euismod sem, nec porttitor tortor.</p>

                <p>Vivamus vel nulla arcu. Ut ornare orci interdum cursus congue. Ut vitae risus non purus aliquam ultrices id in orci. Vivamus vitae mauris a tellus blandit malesuada vitae id libero. Duis egestas risus ac dui tincidunt, vel ullamcorper nulla tempor. Suspendisse fermentum ut metus at adipiscing. Vestibulum hendrerit, risus ac semper eleifend, nisl dui imperdiet purus, eu consectetur ipsum augue a augue.</p>
            </section>
        </div>
        <footer class="footer">
          
        </footer>

        <!-- Latest compiled and minified JavaScript -->
        <script src="/public/js/vendor/raphael.2.1.0.min.js"></script>
        <script src="/public/js/vendor/justgage.1.0.1.min.js"></script>
        <script src="/public/js/vendor/jquery-1.10.2.min.js"></script>
        <script src="/public/js/main.js"></script>
        <script src="/public/js/bootstrap.min.js"></script>
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>